.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.video-box {
    width: calc(70vh * 1.8);
    height: 70vh;
    margin: auto;
}

.video-box iframe {
    width: calc(70vh * 1.8);
    height: 70vh;
}

@media screen and (max-aspect-ratio: 1/1) {

    .video-box {
        width: 90vw;
        height: calc(90vw * 0.56);
    }

    .video-box iframe {
        width: 90vw;
        height: calc(90vw * 0.56);
    }

}

